---
import Logo from './Logo.astro'
---

<header>

  <div class="flex items-center mt-2">
    <Logo />
    <span class="text-2xl text-black font-extrabold mr-1" style="color: black;">ChatGPT</span>
    <span class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600">3.5</span>
  </div>

</header>
